html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f9fb;
    color: #111;
}

main,
.main-content {
    height: 100vh;
    margin: 0;
    padding: 0 !important;
}

.site-footer {
    display: none !important;
}